body {
	overflow: hidden;
	height: initial;
}

#C1R1{
	width:30%;
	height: 1000px;
}

#appicon{
	width: 100%;
}

#appicontitre{
	font-size: 20px;
	text-align: left;
	margin-left: 100px;
	font-weight: bold;
}

#appicondescription{
	font-size: 12px;
	font-weight: initial;
}

#envolepanelvertical #envolepage{
	width:70%;
	padding:0;
}
