html {
	margin-top: 0px !important;
	height:100%;
}

body {
	overflow: auto;
	height: initial;
}

#envolepage{
	padding: 5px;
}

#envoleheader {
	position: initial;
	min-width: 100px;
}

h1 {
	padding:5px;
	color: #f0f0f0;
	background-color: #464646;
}
