html {
	margin-top: 0px !important;
	height:100%;
}

body {
	overflow: auto;
	height: 100%;
}

#envolepage{
	padding: 5px;
}

#envoleheader {
	position: initial;
	min-width: 100px;
}

h1 {
	padding:5px;
}

#widgetadmin {
	background-color: #f0f0f0;
	height:20px;
	font-size: 0.8em;
	text-align: right;
	padding: 0px 10px 0px 0px;
}

#widgetadmin a {color: #464646; }

	
#widgetpage {
	width:100%;
	display: inline-block;
}

.column {
	display:inline-block;  
	float:left;            
	height: auto;              
	text-align:center;  
}  
  
/* Css Classes for Entire Widget */  
  
.Widget {           
	margin: 10px;  
	margin-left: auto;  
	margin-right: auto;  
	width: 95%;  
	min-height: 40px;  
	
}  
  
  
/* Css Classes for Widget Headers */  
.WidgetHeader {  
	height: 25px;
	cursor: move;
	text-align: left;
	padding-left: 3px;
	color: #464646;
	font-weight: bold;
	font-size: 20px;
}          
  
  
/* Css Classes for Widget Body */  
.WidgetBody {  
	background-color: #f0f0f0;
	padding: 5px 15px 15px 15px;
	color:#464646;
	border: solid #464646 5px;
	border-radius: 10px;
}  

.WidgetBodyLight {  
	padding: 0px;
} 
  
/* Placeholder while dragging the widget using jQuery*/  
.ui-sortable-placeholder {   
	border: 1px dashed black;   
	visibility: visible !important;   
	height: 50px !important;   
}  
.ui-sortable-placeholder * { visibility: hidden; }  
