* {	margin: 0; padding: 0; }

html {
	height:100%;
}

body {
	height:100%;
	background-color: transparent;
}

#bodyindex {
	overflow:hidden;
}

img{
	border-style: none;
}


/*== HEADER ==========================================================================================================================================*/
#myheader {
	margin: 0px;
	padding: 0px;
	height:130px;
	background: url('images/cloud.png') no-repeat center 0px;
	background-color: #428BCA;

}

#mylogo {
	height:130px;
	width: 400px;
	background: none;
	background: url('images/logo.png') no-repeat;
}

#myavatar{
	height:80px;
	width: 80px;
	float:right;
	margin-top: 15px;
	margin-right: 10px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
	height:100px;
	width:100px;
	border: 2px solid #fff;
}

.myavatarvide{
	background: url('images/noavatar.png') no-repeat center;
	background-size: cover; 
	border: 2px solid #fff;	
}

#myprofil{
	margin-top: 28px;
	margin-right: 10px;
	float:right;
	width: 200px;
	color: #FFFFFF;
}

#myprofil a {
	color:#ffffff;
	margin-right:5px;
}

#searchbox input {
	height:25px;
}

#searchbox button {
	height:25px;
	padding: 2px 6px;
}

#mynavbar {
	margin: 0px;
	min-height: 0px;
}

.navbar-toggle {
	margin:0px;
	border: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}

.navbar-toggle a{
	margin-right:5px;
	color: #FFFFFF;
}

/*==CONTAINER=========================================================================================================================================*/
.container {
	max-width:100%;
}

.row {
	height:100%;
}

.span12 {
	height:100%;
}

/*==SIDE MENU=========================================================================================================================================*/

#page-wrapper {
	padding: 10px 25px 10px 25px
}


@media (min-width: 768px) {
	#wrapper {
		padding-left: 225px;
	}


	#mysidebar {
		margin-left: -225px;
		left: 225px;
		width: 225px;
		position: fixed;
		top: 31px;
		height: 100%;
		border-radius: 0;
		border: none;
		background-color: #222;
		overflow-y: auto;
	}
}

#mysidebar> legend {
	margin: 15px 10px 0px 10px;
	font-size: 15px;
	color: #fff;
	width: 90%
}

#mysidebar> li {
	float:none;
	height:20px;
}

#mysidebar> li > a {
	width: 225px;
}

#mysidebar> li.active > a {
	background-color: transparent;
}

#mysidebar> li.active  > div{
	position: relative;
	border-color: transparent;
	border-style: solid;
	border-right-color: #fff;
	border-width: 10px 10px 10px 10px;
	float: right;
	top: -25px;
}


.col-sm-10 {
	padding: 0px;
}

.tab-content {
	height:100%;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-nav .open .dropdown-menu > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}

/*== FORMULAIRE ======================================================================================================================================*/
.form-horizontal fieldset legend {
	margin:20px 10px 10px 10px;
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

/*== APPLICATION =====================================================================================================================================*/

#navitem, .containeritem {
	max-width: 800px;
	margin: auto;
}

#navitem li {
	cursor: pointer;
}

#myitem {
	float:left;
	width:70px;
	margin:15px 5px 0px 0px;
	text-align:center;
	font-size:80%;';
	cursor: pointer;
	color: #428BCA;
}

#myitem:hover{
  color: #2a6496;
  text-decoration: underline;
}

#myitem img {
	width:40px;
	height:40px;
	-webkit-box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.25)), color-stop(0.3, transparent));
	margin-bottom: 15px;
}

#myitem button {
	width:40px;
	height:40px;
}

.imgreflect {
	-webkit-box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.25)), color-stop(0.3, transparent));
}

/*== WIDGET =========================================================================================================================================*/

/* Barre d'administration des widgets */
#widgetadmin {
	font-size: 0.8em;
	text-align: right;
	margin-right:10px;	
}

#widgetadmin a {color: #464646; }

/* Conteneur editeur */
#editorcontents {
	width: 100%;
	max-width:800px;
	padding: 10px 30px 0px 30px;
	margin:auto;
}

/* Conteneur widget */
.placeholder {
    border: 1px solid #428BCA;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

	visibility: visible !important;   
	height: 300px !important;  
	margin-top: 15px;	
}

/* Style de widget avec bordure */
.WidgetClass1 {           
	margin-top: 15px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}  
.WidgetClass1 .WidgetHeader {  
	color: #999;
	background-color: #333;
} 
.WidgetClass1 .WidgetHeader a,
.WidgetClass1 .WidgetHeaderMenu a {
	color: #FFF;     
}

/* Style de widget sans bordure */
.WidgetClass2 {           
	margin-top: 15px;
}  
.WidgetClass2 .WidgetHeader {  
	color: #333;
	background-color: transparent;
} 
.WidgetClass2 .WidgetHeader a,
.WidgetClass2 .WidgetHeaderMenu a {
	color: #333;     
}

/* Style de widget postit */
.WidgetClass3 {
	margin-top: 15px;
	background:#fefabc; 
	color: #000; 
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}  
.WidgetClass3 .WidgetHeader {  
	color: #333;
	background-color: transparent;
} 
.WidgetClass3 .WidgetHeader a,
.WidgetClass3 .WidgetHeaderMenu a {
	color: #333;     
}

.WidgetHeaderMenu a {
	cursor: pointer;
}

/* Entete widget */ 
.WidgetHeader {  
	height: 30px;
	cursor: move;
	text-align: left;
	padding: 2px 10px;
	font-size: 18px;
} 

/* Menu du widget */
.WidgetHeaderMenu {
	float:right;
	font-size:12px;
	margin: 5px 5px 0px 0px;
}

 
/* Corps du Widget */  
.WidgetBody {  
	padding: 0px;
}  


/*== FLUX RSS ========================================================================================================================================*/

.bodyRss {
	overflow:auto;
}

#divRss {
	width:95%;
	padding: 0px 10px 10px 5px;
	margin : 10px auto 10px auto;
	background: #FFF;	
	overflow-x: hidden;
}

.ItemTitle{
	font-weight:bold;
	margin:5px 0px 0px 0px;
	font-size:18px;
	padding: 5px 5px 0px 5px;
	background-color: #cdcdcd;
	border-radius: 10px 10px 0px 0px;
}
.ItemTitle a{ color:#428bca; text-decoration:none }
.ItemTitle a:hover{ color:#428bca; text-decoration:underline }


.ItemDate{	
	font-size:12px;
	color:#428bca;
	background-color: #cdcdcd;
	padding: 0px 5px 5px 5px;
}

.ItemContent{
	/*border-bottom:1px solid #D3CAD7;*/
	color:#3E3E3E;
	font-size:12px;
	margin: 5px 0px 50px 0px;
}

.ItemContent h1{
	margin: 5px 0px 5px 0px;
	font-size:13px;
	text-transform: uppercase;
	border-radius: 0px;
	background-color: transparent;
	color: black;
}

.ItemContent h2{
	margin: 5px 0px 5px 0px;
	font-size:12px;
	text-transform: uppercase;
}

.ItemContent h3{
	margin: 5px 0px 5px 0px;
	font-size:11px;
	text-transform: uppercase;
}

.ItemContent p{
	margin: 5px 0px 5px 0px;
}

.ItemContent a{ color:#428bca; text-decoration:none }
.ItemContent a:hover{ text-decoration:underline }

.ItemContent li {
	margin-left: 15px;
}

.ItemContent img {
	max-width: 100% !important;
}


/*== CAROUSEL ========================================================================================================================================*/

.carousel-inner > .item{
    background: #333;    
    text-align: center;
	height:100% !important;
}

.carousel-inner > .item > img { 
	margin: auto;
	max-height:100%;
	
}

.carousel-inner > h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
