@font-face {
    font-family: 'tulkasfont';
    src: url('font/Anagram-webfont.eot');
    src: url('font/Anagram-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Anagram-webfont.woff') format('woff'),
         url('font/Anagram-webfont.ttf') format('truetype'),
         url('font/Anagram-webfont.svg#anagramregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


#header {
	background: url('images/header.jpg') no-repeat 0px -30px;
	height:110px;	
}

#page-header-logo {
	background: url('images/logo.png') no-repeat;
	width: 70px;
	height: 70px;
	background-size: 70px;
}

#login-header-logo {
	background: url('images/logo.png') no-repeat;
	background-size: 130px 130px;
	width:130px;
	height:130px;
}

#page-header-title{
	padding-top:10px;
}

#page-header-title h1{
	height: 25px;
	font-size: 50px;
}

#page-header-title small {
	font-size:11px;
	color: #FFF;
	text-transform: initial;
	position: relative;
	top: -10px;
	left: 5px;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#page-header-tools {
	margin: 12px 15px 0px 0px;
}

#myavatar {
	height:55px;
	width:55px;
}

#page-header-logout {
	font-size: 40px;
}

#page-header-logout #btnregistration{
	font-size: 35px;	
}

h1, .h1, h2, .h2, h3, .h3, legend, .WidgetHeader {
	font-family: tulkasfont;
}

h1, .h1, h2, .h2, h3, .h3, legend, .form-horizontal .control-label,a, #widgetadmin a, #myitemadd button,.rssRow h4 a, .rssRow .rssDate {
	color: #555;
}

#bodylogin, table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable th, .WidgetClass1 .WidgetHeader,.WidgetClass2 .WidgetHeader, #navitem li, #navitem > li > a:hover, #navitem > li > a:focus, .modal-header, #myitem, .btn-primary {
	background-color: #555;
}

table.dataTable tbody tr td, table.dataTable thead tr th, .modal-header, #navitem li {
	border-color: #555;
}

a:hover, .rssRow h4 a:hover {
	color: #111;
}

.btn-primary {
	border-color: #111;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-color: #111;
}


@media (max-width: 768px) {
	#header {
		height: 40px;
	}

	#page-header-logo {
		height: 30px;
		width: 30px;
		margin: 5px 5px 0px 10px;
		background-size: 30px;
	}
	
	#page-header-title{
		padding-top:5px;
	}	

	#page-header-title h1{
		font-size: 40px;	
	}
	
	#myavatar {
		height:25px;
		width:25px;
	}	
	
	#page-header-tools {
		font-size: 20px;
		margin: 5px;
		width: auto;
	}

	#page-header-logout {
		font-size: 20px;	
	}	

	#page-header-logout #btnregistration{
		font-size: 19px;	
	}
	
}
