#myheader {
	background: url('images/header.jpg') no-repeat 0px 0px;	
}

#mylogo {
	background: url('images/logo.png') no-repeat;
}

.myavatarvide{
	background: url('images/noavatar.jpg') no-repeat center;
}
