body {
    background-color: #f8f8f8;
}


h1, .h1, h2, .h2, h3, .h3, legend {
	color: #428BCA;
}

.page-header {
	border-bottom: 1px solid #428BCA;
	text-transform: uppercase;
	font-weight: bold;	
}

legend {
	border-bottom: 1px solid #428BCA;
}


#bodylogin {
	background-color: #428BCA;
}

#login-header-logo {
	height: 150px;
	width: 210px;
	background-image: url("images/logo.png");
	margin: auto;
	background-size: cover;
	margin-top: 20px;
}

.login-panel {
	margin-top: 50px;
}

#header {
	margin: 0px;
	padding: 0px;
	height: 130px;
	color:#FFF;
	border: 0px;
	background: url('images/cloud.png') no-repeat center 0px;
	background-color: #428BCA;
}

#header a{
	color:#FFF;
}

#page-header-logo {
	height: 100px;
	width: 150px;
	background-image: url("images/logo.png");
	float: left;
	margin: 15px;
	background-size: cover;
}

#page-header-title {
	float:left;
	padding-top: 15px;
	text-transform: uppercase;
}

#page-header-title h1{
	color:#FFF;
	line-height:25px;
}

#page-header-title small{
	color:#FFF;
	text-transform: initial;
}


#page-header-tools {
	font-size: 20px;
	text-align: left;
	float: right;
	margin: 15px 15px 0px 0px;
	width: 300px
}

#page-header-logout {
	float:right;
	font-size: 65px;	
}

#page-header-logout #btnregistration{
	font-size: 60px;	
}


#myavatar{
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
	height: 95px;
	width: 95px;
	border: 2px solid #FFF;
	float:left;
}

.myavatarvide{
	background: url('images/noavatar.png') no-repeat center;
	background-size: cover; 
	border: 0px solid #FFF !important;
	box-shadow: none !important;
}

#page-header-user {
	float:left;
}

#page-header-user-name {
	margin-left:5px;
	width: 200px;
	line-height: 18px;
	text-transform:capitalize;
}


.mybtn {
	cursor:pointer;
	font-size: 16px;
}

.mybtn:hover {
	text-decoration:none;
}

.form-horizontal .control-label {
	color: #428BCA;
}

.column{
	padding-right: 5px;
	padding-left: 5px;
}

@media (max-width: 768px) {
	#header {
		height: 40px;
	}

	#page-header-logo {
		height: 30px;
		width: 50px;
		margin: 5px 5px 0px 10px;
	}

	#page-header-title {
		padding:8px 0px 0px 8px;
	}
	
	#page-header-title h1{
		font-size: 20px;
		margin: 0px;
	}

	#page-header-title small{
		display: none;
	}

	#page-header-tools {
		font-size: 20px;
		margin: 5px;
		width: auto;
	}

	#page-header-logout {
		font-size: 20px;	
	}

	#page-header-logout #btnregistration{
		font-size: 19px;	
	}
	
	#myavatar{
		height: 25px;
		width: 25px;
		display: inline-block;
		box-shadow: none;
		border: none;
		margin: 0px;
	}
	
	#page-header-user-name {	
		display:none;
	}
}

/*== MODAL ==========================================================================================================================================*/

.modal-content {
	background-color: transparent;
}

.modal-header {
	border: 1px solid #428BCA;
	background-color: #428BCA;
	border-radius: 6px 6px 0px 0px;
}

.modal-header .close {
	opacity:1;
	color:#FFF;
	font-size: 30px;
}

.modal-title {
	text-transform: uppercase;
	color: #FFF;
	font-weight: bold;
	font-size: 22px;
}

.modal-body {
	background-color: #FFF;
	border-radius: 0px 0px 6px 6px;
}

.bodymodal {
	background-color: #fff;
	height: initial;
}


.modal-frame .modal-content {
	height: 100%;
	border: 0px;
	border-radius: 0px;
}

.modal-frame .modal-header {
	border-radius: 0px;
	border: 0px;
	height: 30px;
	background-color: #101010;
	padding: 5px;
}

.modal-frame .modal-header .close {
	font-size: 20px;
}

.modal-frame .modal-title {
	font-size: 15px;
}

.modal-frame #framemodal {
	height:2000px;
}

/*== APPLICATION =====================================================================================================================================*/

#navitem, .containeritem {
	//max-width: 800px;
	margin: auto;
}

#navitem li {
	cursor: pointer;
	float: left;
	background-color: #428BCA;
	margin: 5px 5px 0px 0px;
	border-bottom: 5px solid #428BCA;
}

#navitem li:hover, #navitem .active{
	border-bottom: 5px solid rgba(255, 255, 255, 0.5) !important;
}

#navitem li a{
	color:#FFF;
	padding: 10px 15px 5px 15px;
	height: 35px;
}


#navitem > li > a:hover,
#navitem > li > a:focus {
	background-color: #428BCA;
}

#myitem {
	float:left;
	width:110px;
	height:100px;
	margin:10px 10px 0px 0px;
	text-align:left;
	font-size:80%;
	cursor: pointer;
	background-color: #428BCA;
}

#myitem a:hover > img  {
	-webkit-transform:scale(1.1); 	/* Safari and Chrome 	*/
	-moz-transform:scale(1.1); 		/* Firefox 				*/
	-ms-transform:scale(1.1); 		/* IE 9 				*/
	-o-transform:scale(1.1); 		/* Opera 				*/
	 transform:scale(1.1);		
}

#myitem a {
	color: #FFF;
	cursor: pointer;
}

#myitem a:hover {
	color: #FFF;
	font-size: 110%;
	cursor: pointer;
}


#myitem img {
	margin: 10px auto 0px auto;
	display: block;
	max-width: 80%;
	max-height: 40px;
}

#myitem label {
	float: left;
	text-align: center;
	width: 100%;
	margin-top:10px;
}

#myitemadd {
	float:left;
	width:110px;
	height:100px;
	margin:10px 10px 0px 0px;
	text-align:left;
	font-size:80%;
	cursor: pointer;
}

#myitemadd button {
	width: 110px;
	height: 100px;
	font-size: 50px;
	color: #428BCA;
	line-height: 50px;
	background-color: transparent;
}

#myitemtitle {
	padding-top: 20px;
	margin-bottom: -10px;
	text-transform: uppercase;
	clear: both;
}

.badge-delete {
	font-size: 14px;
	cursor: pointer;
	position: relative;
	//top: 80px;
	height: 20px;
	text-decoration: none;
	float: right;
	right: 5px;
}	

.badge-delete:hover {
	text-decoration:none !important;
	font-size: 110% !important;
}


.imgreflect {
	-webkit-box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.25)), color-stop(0.3, transparent));
}



/*== WIDGET =========================================================================================================================================*/

/* Barre d'administration des widgets */
#widgetadmin {
	font-size: 0.8em;
	text-align: right;
	margin-right:10px;	
}

#widgetadmin a {color: #428BCA; }

/* Conteneur editeur */
#editorcontents {
	width: 100%;
	max-width:800px;
	padding: 10px 30px 0px 30px;
	margin:auto;
}

/* Conteneur widget */
.placeholder {
    border: 1px solid #428BCA;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

	visibility: visible !important;   
	height: 300px !important;  
	margin-top: 15px;	
}

/* Style de widget avec bordure */
.WidgetClass1 {           
	margin-top: 15px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}  
.WidgetClass1 .WidgetHeader {  
	color: #999;
	background-color: #428BCA;
} 
.WidgetClass1 .WidgetHeader a,
.WidgetClass1 .WidgetHeaderMenu a {
	color: #FFF;     
}

/* Style de widget sans bordure */
.WidgetClass2 {           
	margin-top: 15px;
}  
.WidgetClass2 .WidgetHeader {  
	color: #999;
	background-color: #428BCA;
} 
.WidgetClass2 .WidgetHeader a,
.WidgetClass2 .WidgetHeaderMenu a {
	color: #fff;     
}

/* Style de widget postit */
.WidgetClass3 {
	margin-top: 15px;
	background:#fefabc; 
	color: #000; 
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}  
.WidgetClass3 .WidgetHeader {  
	color: #333;
	background-color: transparent;
} 
.WidgetClass3 .WidgetHeader a,
.WidgetClass3 .WidgetHeaderMenu a {
	color: #333;     
}

.WidgetHeaderMenu a {
	cursor: pointer;
}

/* Entete widget */ 
.WidgetHeader {  
	height: 50px;
	cursor: move;
	text-align: left;
	padding: 2px 10px;
} 

.WidgetHeader a{ 
	font-size: 30px;
}

.WidgetHeader a:hover{ 
	text-decoration: none;
}

/* Menu du widget */
.WidgetHeaderMenu {
	float:right;
	margin: 12px 5px 0px 0px;
}

.WidgetHeaderMenu a{
	font-size:18px;
}
 
/* Corps du Widget */  
.WidgetBody {  
	padding: 0px;
}  


/*== CAROUSEL ========================================================================================================================================*/

.carousel-inner > .item{
    background: #333;    
    text-align: center;
	height:100% !important;
}

.carousel-inner > .item > img { 
	margin: auto;
	max-height:100%;
	
}

.carousel-inner > h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}


/*== RSS ============================================================================================================================================*/

#divRss {
	width: 95%;
	margin:auto;
	padding: 0px;
	//background: #FFF;
	display:block;
	//font-size: 70%;
	word-wrap: break-word;
}


.rssFeed {
	font-size: 100%;
	margin: 2em 3em;
}
.rssFeed a {
	color: #444;
	text-decoration: none;
}
.rssFeed a:hover {
	color: #000;
	text-decoration: underline;
}

.rssBody {
	max-width: 800px;
	margin: auto;
}

.rssBody ul { list-style: none; }
.rssBody ul, .rssRow, .rssRow h4, .rssRow p {
	margin: 0;
	padding: 0;
}

.rssRow {
	font-size: 1em;
}

.rssRow img, .rssMedia img {
	display:block;
	margin:auto;
	max-width:60%;
	height:auto;
}

.rssRow h4 {
	font-size: 1.8em;
	color: #428BCA;
	text-align: center;
	//width:80%;
	margin:auto;
	margin-top: 15px;
	text-transform: uppercase;
}

.rssRow h4 a {
	color: #428BCA;
	font-size: 80%;	
}

.rssRow h4 a:hover {
	color: #428BCA;
}


.rssRow .rssDate {
	color: #666;
	margin: 0.2em 0 0.4em 0;
	font-style: italic;
	text-align: center;
	color:#3498db; 
	font-size: 110%;
}

.rssRow p {
	//width:75%;
	padding: 10px;
	margin:auto;
	text-align: justify;
}

.rssRow {
	text-align: left;
	padding: 10px;
}

.rssMore {
	text-align: center;
	padding: 0px;
}

.rssMore a,.rssMore a:hover	 {
	color: #fff;
}

.rsscol {
	font-size:70%;
}

