body {
	overflow: hidden;
	height: initial;
}

.widgetheader{
	color: #f0f0f0;
	font-size: 1.2em;
	border-bottom: solid 1px #F0F0F0;
	height: initial;
}

.widgetbody {
	background: none;
	padding: 5px 15px 15px 15px;
	border: none;
	color: #F0F0F0;
}

#C1R1{
	background-color:#464646;
	width:20%;
	height: 1000px;
}

#appicon{
	margin: 0px;
	width: 100%;
}

#appicon img {
	display:none;
}

#appicontitre{
	font-size: 12px;
	text-align: left;
}

#appicondescription{
	display:none;
}

#envolepanelvertical #envolepage{
	width:80%;
	padding:0;
}
