* {	margin: 0; padding: 0; }

html {
	margin-top: 28px !important;
	height:100%;
}

body {
	font: 0.9em Arial;
	height:100%;
	overflow:hidden;
	color: #464646;
}

img{
	border-style: none;
}

/*==HEADER============================================================================================================================================*/

#envoleheader {
	direction: ltr;
	color: #CCC;
	font: normal 13px/28px sans-serif;
	height: 28px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 800px;
	z-index: 9999;
	background-color: #464646;
	background-image: -ms-linear-gradient(bottom,#373737,#464646 5px);
	background-image: -moz-linear-gradient(bottom,#373737,#464646 5px);
	background-image: -o-linear-gradient(bottom,#373737,#464646 5px);
	background-image: -webkit-gradient(linear,left bottom,left top,from(#373737),to(#464646));
	background-image: -webkit-linear-gradient(bottom,#373737,#464646 5px);
	background-image: linear-gradient(bottom,#373737,#464646 5px);
}

#envoleheader.big {
	height: 150px;
}

#envoleheader #userheader {
	display: none;
}

#envoleheader #userheader.big {
	display: block;
	height: 120px;
	background: url("img/background.jpg");
	border-bottom: solid 1px #efefef;
}

#logo {
	height: 120px;
	width: 300px;
	background: url(img/logo.png) no-repeat 10px;
	float: left;
}

#avatar {
	float: right;
	margin: 15px 0px 0px 0px;
	width: 500px;
	height: 90px;
}

#avatar img{
	border-radius: 10px;
	box-shadow: 5px 5px 10px #aaa;
	float: left;
}

#avatar div{
	float: left;
	margin-left: 10px;
	color: #464646;
	text-shadow: 0px 0px 5px #777;
}

#avatar h1{
	font-size: 1.2em;
	border-bottom:initial;
}

#avatar.avatar_admin{
	width: 300px;
	float: left;
}

#avatar_description {
	text-shadow: initial;
	font-size: 0.8em;
}

#appicon{
	margin: 15px 0px 0px 0px;
	width: 100px;
	float: left;
}


#appicon img{
	border-radius: 10px;
	box-shadow: 5px 5px 10px #aaa;
	float: left;
}


input#search {
	background: white url(img/search.png) no-repeat 1px 1px;
	font-size: 14px;
	width: 150px;
	padding: 2px 2px 0px 28px;
	display: none;
}

#closeheader {
	background: url("img/close-02.png") no-repeat 0px 0px;
	position: absolute;
	top: 5px;
	right: 10px;
	width: 25px;
	height: 25px;
}

#envoleheader #fixepanel {
	list-style-type: none;
}

#envoleheader #fixepanel li {
	display: inline;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #efefef;
	line-height: 28px;
}

#envoleheader #fixepanel li div.fixepanelhandle {
	display: inline;
}

#fixepanel a {color: #CCC; }
#fixepanel a:hover {color: #f89a1e; }


#userfavori {
	width: 10px;
	height: 28px;
	float:left;
	background-color: #CCC;
}

#envoleheader #userpanel {
	list-style-type: none;
}

#envoleheader #userpanel li {
	display: inline;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #efefef;
	line-height: 28px;
}

#envoleheader #userpanel li div.userpanelhandle {
	cursor: move;
	display: inline;
}

#userpanel a {color: #CCC; }
#userpanel a:hover {color: #f89a1e; }
#userpanel .userpanellabel input { display: none; width:initial;}

#userpanel .userpanellabel.edit { height: 28px; }
#userpanel .userpanellabel.edit a { display: none; }
#userpanel .userpanellabel.edit input { display: inline; margin-top:5px; height: 16px; }


#userpaneladd {
	display: inline;
	float:left;
	background: url(img/add.png) no-repeat center center;
	padding: 5px 0px 5px 5px;
}

#userpanelsup {
	display: inline;
	float:left;
	background: url(img/del.png) no-repeat center center;
	padding: 6px 0px 5px 0px;
}

#userpanelupd {
	display: inline;
	float:left;
	background: url(img/upd.png) no-repeat center center;
	padding: 6px 0px 5px 5px;
}

#userpanelopt {
	display: inline;
	float:left;
	background: url(img/opt.png) no-repeat center center;
	padding: 6px 0px 5px 5px;
}

#useradmin {
	float: right;
}

#useradmin.big {
	position: absolute;
	top: 10px;
	right: 50px;
}


#envoleheader #userpanel.userpanel_right li {
	border-left: 1px solid #000000;
	border-right: initial;
	height:28px;
}


#envoleheader #userpanel.userpanel_right.big li {
	float: none;
	display: block;
	color: #000000;
	line-height: 15px;
	height:15px;
}

#userpanel.userpanel_right.big a {color: #464646; }
#userpanel.userpanel_right.big a:hover {color: #f89a1e; }

#ouvreheader {
	margin-top: 5px;
}

#ouvreheader.big {
	display: none;
}


#envolepanelvertical h1 {
	font-size: 1.2em;
	color: #F0F0F0;
	padding: 10px 0px 0px 5px;
	border-bottom: solid 1px #F0F0F0;
}

#envolepanelvertical #userpanel {
	list-style-type: none;
	float:left;
	width: 20%;
	background-color: #464646;
	height: 1000px;
	padding-top: 10px;
	font-size: 0.8em;
}

#envolepanelvertical #userpanel li {
	display: inline;
}

#envolepanelvertical #userpanel li div.userpanelhandle {
	padding: 0px 0px 0px 10px;
}

#envolepanelvertical #envolepage {
	width: 80%;
	float: left;
}

/*==PAGE==============================================================================================================================================*/
#envolepage{
	height: 100%;
}

#info {
	display: block;
	padding: 10px;
	margin: 80px;
	border: 1px solid #333;
	background-color: #efefef;
	clear: both;
	
	display: none;
}

h1 {
	font-size: 1.8em;
	border-bottom: 1px solid #464646;
}

h2 {
	font-size: 1.4em;
	margin-top: 10px;
}

.box {
	float: left;
	border: 1px solid #C9C9C9;
	background-color: #efefef;
	margin: 5px;
	padding: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

/*==LOGIN===========================================================================================================================================*/

#loginbox {
	width: 300px;
	margin: 50px auto 0 auto;
	float: none;
	background-color: #464646;
	border: 1px solid #464646;
}

#loginbox p {
	margin-bottom: 20px;
	color: #ccc;
}

/*==POPUP MODALE======================================================================================================================================*/
/*--Masque opaque noir de fond--*/

.fade {
	display: none;
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}

.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	border: 25px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.popup_close {
	float: right;
	margin: -50px -50px 0 0;
	background: url(img/close-01.png) no-repeat center center;
}

.popup_close_img{
	width: 50px;
	height: 50px;
}
	
/*--Gérer la position fixed pour IE6--*/
*html #fade {
	position: absolute;
}

*html .popup_block {
	position: absolute;
}

/*==FORM============================================================================================================================================*/

input {
	border: 1px solid #C6C3C6;
	/*width: 99%;*/
	color: #464646;
	font-size: 1em;
	height: 20px;
}

.biginput {
	height: 30px;
	font-size: 1.6em;
}

.inputfile {
	width: 99%;
	color: #464646;
	font-size: 1em;
	height: 25px;
}

.input-rounded-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    padding:5px 10px 5px 10px;
    display:inline-block;
    text-decoration:none;
    background:#595651;
    height: 30px;

    color:#FFFFFF;
    cursor:pointer;
    font-size: 1em;
}

.input-rounded-button:hover { 
    text-decoration:underline; 
    cursor:pointer;
}

.link-rounded-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    padding:5px 10px 5px 10px;
    display:inline-block;
    text-decoration:none;
    background:#595651;

    color:#FFFFFF;
    cursor:pointer;
    font-size: 1em;
}

.link-rounded-button:hover { 
    text-decoration:underline; 
    cursor:pointer;
}

#btnadd {
	display: inline;
	float:left;
	background: url(img/add.png) no-repeat center center;
	margin-left: 0px !important;
}	

#btnadd img {
	border-radius: 0px;
	box-shadow: none;
}

#btnadd a{
	cursor: pointer;
}

#btnupd {
	display: inline;
	float:left;
	background: url(img/upd.png) no-repeat center center;
	margin-left: 0px !important;
}	

#btnupd img {
	border-radius: 0px;
	box-shadow: none;
}

#btnupd a{
	cursor: pointer;
}

#btnopt {
	display: inline;
	float:left;
	background: url(img/opt.png) no-repeat center center;
	margin-left: 0px !important;
}	

#btnopt img {
	border-radius: 0px;
	box-shadow: none;
}

#btnoptl a{
	cursor: pointer;
}


#btndel {
	display: inline;
	float:left;
	background: url(img/del.png) no-repeat center center;
	margin-left: 0px !important;
}	

#btndel img {
	border-radius: 0px;
	box-shadow: none;
}

#btndel a{
	cursor: pointer;
}

#encadrer {
	border-radius: 10px;
	border: solid 1px #464646;
	background-color: #cdcdcd;
	padding: 10px;
	color: #464646;
}

#encadrer_label  {
	display: inline-block;
}


/*==TABLEAU DATATABLE================================================================================================================================*/

.dataTables_wrapper{
	margin-top: 10px;
}

.dataTables_length {
	width: 40%;
	float: left;
	margin-left: 10px;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	margin-right: 10px;
}

.dataTables_filter input{
	width: initial;
}

.dataTable{
	border: solid 1px #CDCDCD;
	border-radius: 10px;
	width: 100%;
	margin-top: 10px;
	background-color: #464646;
	padding: 10px;
	clear: both;
}

.dataTable thead {
	color: #f0f0f0;
}

.dataTable td {
	background-color: #f0f0f0;
	padding: 2px;
	color: #464646;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

.paginate_disabled_previous {
	background: url('img/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('img/back_enabled.png') no-repeat top left;
}

.paginate_enabled_previous:hover {
	background: url('img/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}

.paginate_disabled_next {
	background: url('img/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('img/forward_enabled.png') no-repeat top right;
}

.paginate_enabled_next:hover {
	background: url('img/forward_enabled_hower.png') no-repeat top right;
}

.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_disabled_previous, .paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	color: #111 !important;
}

.dataTables_paginate.paging_two_button
	.dataTables_paginate {
	text-align: right;
}

/*==BIBLIOTHEQUE WIDGET==============================================================================================================================*/

.bibliowidget {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;
	min-height: 130px;
	padding: 10px;
	margin: 10px;
	font-size: 0.9em;    
}

.bibliowidget h2 {
	margin: 0px;
}

.bibliowidgetimg {
	height:90px;
	width:90px;
	float:left;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 0%;
	border-radius: 10px;
	margin-right:10px;
}

.bibliowidget img {
	height:90px;
	width: 90px;
}

.bibliowidgetlink {
	margin-top:10px;
	float: left;
	width: 100%;
	text-align: center;
}

.bibliowidgetlink a {
	color: #464646;
	font-size: 0.9em;
}
	
